* {box-sizing: border-box}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

body {
    background-color: darkgrey;
    background-size: cover;
    justify-content: flex-start;
}

header {
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:lightslategray;
    color: #ffffff;
}

.navbar-wrapper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    display:flex;
    justify-content: space-between;
    min-width: 300px;
    text-align: right;
    font-size: 150%;
}
  
nav a {
    color: #b9C6ae;
    font-weight: bold;
    text-decoration: none;
}
  
nav a:hover {
    color: #fff;
}
  
main {
    margin-left: 1vw;

}

.smallCard {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    flex-direction: row;
    background-color: whitesmoke;
   
  }

.smallCard:hover {
    background-color: #772014;
    color: #fff;
  }

.row-work {

    margin-top: 2%;
    width: 70%;
    height: 70%;
}



.work-header {
    width: 150px;
    margin-right: 50px;
    padding-bottom: 50px;
    color: whitesmoke;
    border-right:solid;
    float: left;
}

/*Project Cards*/
.card {
    display:flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin:20px;
    
  }

button header{
    width:100%;
    padding: 10px;
    background: #13293d;
    color: #fff;
  }
 
button img {
    width:100%
}  

  
img {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}

.bigCard {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/*Current Projects Section*/


/*About Me*/
article {
    display: flex;
    text-align: inline-block;
    justify-content: space space-between;
    padding: 30px;
    color: #ffffff;
    background:lightslategray;
    

}

article h1{
    display:inline-block;
    justify-content: space space-between;
    padding-right: 70px;
    color: whitesmoke;
    border-right:solid;
}

article img {
    margin-left: 30px;
}
article p{
    padding-left: 60px;
}
/*Contact*/
footer{
    text-align: inline-block;
    padding: 30px;
    background:lightslategrey;
    color: #ffffff;

}


footer h1 {
    display:inline-block;
    justify-content: space space-between;
    padding-right: 25px;
    color: whitesmoke;
    border-right:solid;
    
}

footer h2{
    display: inline-block;
    margin:50px;
    color: whitesmoke;
    border-bottom: solid;


}

/*Monke Slideshow container*/
section .slideshow-container {
    width:600px;
    height:500px;
    position: relative;
    margin: auto;
}

 /*Animation for slideshow*/
 .fade {
     -webkit-animation: fade;
     -webkit-animation-duration: 5.0s;
     animation-name:fade;
     animation-duration: 5.0s;
     animation: fade;
 }

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 768px) {
    main,
    nav,article {
      flex-direction: column;
    }
    header {
      background: #772014;
    }
    nav,
    footer {
      background-color: #bb8588;
    }

  }